[build]
  command = "npm run build"
  publish = "dist"

# Redirect pour que Netlify Identity redirige correctement vers l'admin
[[redirects]]
  from   = "/admin"
  to     = "/admin/index.html"
  status = 200
